* {
    box-sizing: border-box;
}

body{
    display: flex;
}

.bkgr{
    background-attachment: unset;
}



.container{
    display: grid;
    grid-template-columns: 14mm 1mm 7mm 0mm 52mm 15mm 0mm  ;
    grid-template-rows: 2mm 19mm 30mm 10mm 26mm 21mm 22mm 10mm;
    background-image: url("//images/BALOOONEFFECT.png");
    padding: 5px;
}

.c{
    display: grid;
    grid-column: 5;
    grid-row: 8;
}

.l{
    display: grid;
    grid-column: 8;
    grid-row: 7;
}

.i{
    display: grid;
    grid-column: 4;
    grid-row: 6;
}

.m{
    display: grid;
    grid-column: 6;
    grid-row: 5;
}

.b{
    display: grid;
    grid-column: 7;
    grid-row: 3;
}

.e{
    display: grid;
    grid-column: 3;
    grid-row: 4;
}

.r{
    display: grid;
    grid-column: 2;
    grid-row: 2;
}






