* {
    box-sizing: border-box;
}

body{
    display: flex;
}

.bkgr{
    background-attachment: unset;
}



.container{
    display: grid;
    grid-template-columns: 150mm 150mm 150mm 150mm ;
    grid-template-rows: 82mm 82mm 82mm 82mm 82mm 82mm 82mm 82mm 82mm 82mm ;
    background-image: url("//images/BALOOONEFFECT.png");
    padding: 6px;
}

.c{
    display: grid;
    grid-column: 1;
    grid-row: 6;

}




